<div class="card-container">
    <div class="card">
        <img src="img/Godzilla.jpg" alt="imagen"> 
        
      <p>Godzilla vs Kong</p>
    </div>

    <div class="card-container">
        <div class="card">
          <img src="img/New-Poster-scaled.jpg" alt="imagen" />
          
          <p>Black Widow</p>
        </div>

     <div class="card-container">
        <div class="card">
          <img src="img/titanes.jpg" alt="imagen" />
          
           <p>Titanes del Pacífico</p>
         </div>


<div class="card-container">
    <div class="card">
      <img src="img/Interestellar.jpg" alt="imagen" />
      
      <p>Interstellar</p>
    </div>

    <div class="card-container">
      <div class="card">
        <img src="img/Batman.jpg" alt="imagen" />
        
        <p>Batman</p>
      </div>    

    <div class="card-container">
        <div class="card">
          <img src="img/Barbie.jpg" alt="imagen" />
          
          <p>Barbie</p>
        </div>



